*, body, div, #photo, #sig, #sigp, #sign, #outer{
    margin:0;
    padding:0;
}
body{
    background-image:linear-gradient(to left, rgb(255, 0, 191), rgb(119, 0, 255));
    background-size:  cover;
}
body:hover{
    background-image:linear-gradient(to left,  rgb(119, 0, 255),rgb(255, 0, 191));
}
a{
    text-decoration: none;
    color:black;
}
.mail{
    text-decoration: none;
    color:white;
}
#name p a{
    color:rgb(91,155,213);
}
#outer, #entire{
    margin-top:80px;
    margin-bottom:80px;
    padding:0;
    border-radius:20px;
    height:1350px;
    width:1000px;
}
#outer{
    background-color: rgba(255, 255, 255, 0.85);
    margin-left:150px;
    margin-right:150px;
}
#entire{
    position:center;
    background:url(https://bit.ly/3rCgi5w) no-repeat;
    background-size: cover;
}
#photo{
    margin-top:80px;
    height:220px;
}
#name{
    padding:0;
    color:rgb(91,155,213);
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    border-style:solid;
    border-left-color: transparent;
    border-right-color: transparent;
    display:flex;
    align-items: center;
    width:800px;
    height:80px;
    position: relative;
    margin-left:-290px;
    margin-top:390px;
    font-family:Calibri;
    font-size:280%;
}

#name p{
    position: absolute; 
    right: 4.5em;
}
#contact{
    padding:0;
    font-family: Verdana;
    color:white;
    text-align:right;
    position: absolute;
    left:165px;
    top:1320px;
    width:200px;
    font-size: small;
}
#left{
    float:left;
    width:22.8%;
    height:100%;
}

#educ h3, #exp h3, #coc h3, #cop h3, #sig p, table{
    padding:.4cm;
    font-family: Bahnschrift Light;
    font-size: large;
}
#educ h2, #exp h2, #coc h2, #cop h2, #per h2{
    color: rgb(116, 162, 253);
}
#educ h2:hover, #exp h2:hover, #coc h2:hover, #cop h2:hover, #per h2:hover{
    color: rgb(1, 13, 124);
    font-size: xx-large;
}
#educ h3:hover, #exp h3:hover, #coc h3:hover, #cop h3:hover, #per h3:hover, table:hover{
    background-image:linear-gradient(to left, rgba(119, 0, 255, 0.350),rgba(255, 0, 191, 0.350));
    border-radius:10px;
}
#educ, #exp, #coc, #cop, #per{
    padding:.4cm;
}
#sig, #sign, #sigp{
    top:630px;
    text-align: right;
    align-items: right;
    margin-right:40px;
    margin-top:15px;
}
#sigp{
    height:40px;
    margin-right: 65px;
}
.lef{
    font-size: large;
    text-align: right;
    padding:2px;
    width:20%;
}
.col{
    width:10%;
}
.rig{
    font-size: large;
    text-align: left;
    padding:2px;
    width:60%;
}
#add, #date{
    font-size:1.4ch;
}
#right{
    padding:0;
    float:right;
    height:100%;
    width:77%;
}
#pdf{
    margin-bottom:50px;
}
#pdf h3 a{
    text-align: center;
    background: rgba(0, 60, 255, 0.25);
    color: rgb(130, 149, 253);
    padding: 6px 50px 6px 50px;
    margin-left:550px;
    text-decoration: none;
    border-radius: 50px;
}
#pdf h3 a:hover{
    background: rgb(0, 60, 255);
    color:rgb(130, 149, 253);
}